includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    # Level 5 is a good starting point
    level: 5
    
    ignoreErrors:
        # Add specific errors to ignore if needed
